<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>NOVA - Главная страница</title>
    <link rel="stylesheet" href="/static/index_style.css">
</head>

<head th:insert="blocks\head :: head"></head>

<body class="d-flex flex-column h-100">

<header th:insert="blocks\header :: header" class="sticky-top"></header>

<hr class="clear">

<main class="container-lg flex-shrink-0 bg-light">
    <div th:if="${message}" class="col-lg-12 w-100 alert alert-primary" role="alert">
        <p th:text="${message}"></p>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="pt-5 px-5 mx-auto">
                <a href="/catalog/genre/Action"><img class="main_img" src="/img/action.jpg"></a>
                <div class="btn-group mt-3">
                    <a href="/catalog/genre/Action" class="btn btn-primary">Action</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pt-5 px-5 mx-auto">
                <a href="/catalog/genre/Shooter"><img class="main_img" src="/img/shooter.jpg"></a>
                <div class="btn-group mt-3">
                    <a href="/catalog/genre/Shooter" class="btn btn-primary">Shooter</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pt-5 px-5 mx-auto">
                <a href="/catalog/genre/Стратегия"><img class="main_img" src="/img/strategy.jpg"></a>
                <div class="btn-group mt-3">
                    <a href="/catalog/genre/Стратегия" class="btn btn-primary">Стратегия</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pt-5 px-5 mx-auto">
                <a href="/catalog/genre/RPG"><img class="main_img" src="/img/rpg.jpg"></a>
                <div class="btn-group mt-3">
                    <a href="/catalog/genre/RPG" class="btn btn-primary">RPG</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pt-5 px-5 mx-auto">
                <a href="/catalog/genre/MMO"><img class="main_img" src="/img/mmo.jpg"></a>
                <div class="btn-group mt-3">
                    <a href="/catalog/genre/MMO" class="btn btn-primary">MMO</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pt-5 px-5 mx-auto">
                <a href="/catalog/genre/Симулятор"><img class="main_img" src="/img/simulator.jpg"></a>
                <div class="btn-group mt-3">
                    <a href="/catalog/genre/Симулятор" class="btn btn-primary">Симулятор</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pt-5 px-5 mx-auto">
                <a href="/catalog/genre/MMORPG"><img class="main_img" src="/img/mmorpg.jpg"></a>
                <div class="btn-group mt-3">
                    <a href="/catalog/genre/MMORPG" class="btn btn-primary">MMOPRG</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pt-5 px-5 mx-auto">
                <a href="/catalog/genre/Бесплатные"><img class="main_img" src="/img/game.jpg"> </a>
                <div class="btn-group mt-3">
                    <a href="/catalog/genre/Бесплатные" class="btn btn-primary">Бесплатные</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="pt-5 px-5 mx-auto">
                <a href="/catalog/genre/Платные"><img class="main_img" src="/img/game.jpg"> </a>
                <div class="btn-group mt-3">
                    <a href="/catalog/genre/Платные" class="btn btn-primary">Платные</a>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-5"></div>
</main>

<hr class="clear">

<footer th:insert="blocks/footer :: footer" class="footer mt-auto py-1 bg-dark"></footer>

</body>

</html>
